# Food synset entities

### Summary 
105218 food entities

In [1]:
%load_ext autoreload
%autoreload 2
import myfunctions as f
f.today()

'20180317'

In [2]:
import sys
print "system_info: %s"%sys.version
# current working directory
import os
print "path_info: %s"%os.getcwd()

system_info: 2.7.14 |Anaconda custom (64-bit)| (default, Oct 27 2017, 18:21:12)
[GCC 7.2.0]
path_info: /home/yueliu/Desktop/workspace_yue/Documentation_201712

** current food synset **

In [3]:
file_name = "food_entities__20180316.p"
df_retrived = f.retrive_file(file_name)

retrived: food_entities__20180316.p

In [4]:
print ("Got %d food records" % df_retrived.shape[0])
print ("Got %d unique food items " % df_retrived["clean_name"].nunique())
print df_retrived.columns.tolist()

Got 139780 food records
Got 139780 unique food items
['clean_name', 'loc', 'food_name', 'timestamp', 'price', 'vendors', 'tag', 'desc']

In [5]:
df_retrived.sample(2, random_state=2008)

,clean_name,loc,food_name,timestamp,price,vendors,tag,desc
index,,,,,,,,
food_130659,toro cha shao persons,"[deliveroo/food/19109, deliveroo/food/AV06uSiz...","[(Toro Cha Shao 2-3 persons, 5)]","[2017-07-03T17:55:01.668428, 2017-07-13T14:37:...","(16.5, 16.5, 16.5, 16.5, 16.5)",[delivery_5687],[Chef's Recommendation Roast],[]
food_127787,the guanyin,"[deliveroo/food/AV2ZY3TUcSlXBuMN4ZOF, delivero...","[(The Guanyin, 172)]","[2017-08-01T00:00:04.909498, 2017-09-01 01:00:...","([{'price': 4.71, 'title': 'default'}], [{'pri...","[delivery_3921, delivery_3922, delivery_3923, ...","[Kopi - Teh, Kopi Teh, Kopi and Teh, Kopi-Teh,...","[, Currently sold out, Default, Per serving.]"

** entity linking by lemmatization **

In [7]:
import spacy
nlp = spacy.load('en_core_web_sm')
def lemma_name(s):
    return " ".join([token.lemma_ for token in nlp(unicode(s, "utf-8"))])

In [8]:
%%time
df_retrived["lemma_name"] = df_retrived["clean_name"].apply(lemma_name)
print ("Got %d unique lemmatized name " % df_retrived["lemma_name"].nunique())

Got 136163 unique lemmatized name
CPU times: user 41min 27s, sys: 2h 4min 20s, total: 2h 45min 47s
Wall time: 23min 51s

In [9]:
df_retrived.sample(2, random_state=2008)

,clean_name,loc,food_name,timestamp,price,vendors,tag,desc,lemma_name
index,,,,,,,,,
food_130659,toro cha shao persons,"[deliveroo/food/19109, deliveroo/food/AV06uSiz...","[(Toro Cha Shao 2-3 persons, 5)]","[2017-07-03T17:55:01.668428, 2017-07-13T14:37:...","(16.5, 16.5, 16.5, 16.5, 16.5)",[delivery_5687],[Chef's Recommendation Roast],[],toro cha shao person
food_127787,the guanyin,"[deliveroo/food/AV2ZY3TUcSlXBuMN4ZOF, delivero...","[(The Guanyin, 172)]","[2017-08-01T00:00:04.909498, 2017-09-01 01:00:...","([{'price': 4.71, 'title': 'default'}], [{'pri...","[delivery_3921, delivery_3922, delivery_3923, ...","[Kopi - Teh, Kopi Teh, Kopi and Teh, Kopi-Teh,...","[, Currently sold out, Default, Per serving.]",the guanyin

** entity linking by sim-hash **

In [ ]:
%%time
# warnings: big bucket found, len(dups) > 200, not affect results much
import warnings
warnings.filterwarnings('ignore')
df = f.simhash_name(df_retrived, width=2, k =4, col="lemma_name")
#13min 37s

In [14]:
print ("Got %d unique name " % df_retrived["name"].nunique())

Got 129709 unique name

In [12]:
df.sample(2, random_state=2008)

,clean_name,loc,food_name,timestamp,price,vendors,tag,desc,lemma_name,name
index,,,,,,,,,,
food_130659,toro cha shao persons,"[deliveroo/food/19109, deliveroo/food/AV06uSiz...","[(Toro Cha Shao 2-3 persons, 5)]","[2017-07-03T17:55:01.668428, 2017-07-13T14:37:...","(16.5, 16.5, 16.5, 16.5, 16.5)",[delivery_5687],[Chef's Recommendation Roast],[],toro cha shao person,toro cha shao person
food_127787,the guanyin,"[deliveroo/food/AV2ZY3TUcSlXBuMN4ZOF, delivero...","[(The Guanyin, 172)]","[2017-08-01T00:00:04.909498, 2017-09-01 01:00:...","([{'price': 4.71, 'title': 'default'}], [{'pri...","[delivery_3921, delivery_3922, delivery_3923, ...","[Kopi - Teh, Kopi Teh, Kopi and Teh, Kopi-Teh,...","[, Currently sold out, Default, Per serving.]",the guanyin,the guanyin

** entity linking by removing unecessary words **

In [20]:
# import file, longer words first
file_name = "words_to_remove_20180308.csv"
import pandas as pd
rmv = pd.read_csv(file_name, header=None)[0].tolist()
rmv.sort(key=lambda item: (-len(item), item))
print "number of words to remove: %d"%len(rmv)

number of words to remove: 351

In [69]:
def shorten_name(name):
    name = " " + name + " "
    for s in rmv:
        if " " + s + " " in name:
            name = name.replace(" " + s + " ", " ")
    return name.strip()
df["assigned_name"] = df["name"].apply(shorten_name)
df.reset_index(inplace=True)

In [70]:
print ("Got %d unique short name " % df["assigned_name"].nunique())

Got 105218 unique short name

In [74]:
df.sample(2, random_state=2008)

,index,clean_name,loc,food_name,timestamp,price,vendors,tag,desc,lemma_name,name,assigned_name
130659,food_130659,toro cha shao persons,"[deliveroo/food/19109, deliveroo/food/AV06uSiz...","[(Toro Cha Shao 2-3 persons, 5)]","[2017-07-03T17:55:01.668428, 2017-07-13T14:37:...","(16.5, 16.5, 16.5, 16.5, 16.5)",[delivery_5687],[Chef's Recommendation Roast],[],toro cha shao person,toro cha shao person,toro cha shao
127787,food_127787,the guanyin,"[deliveroo/food/AV2ZY3TUcSlXBuMN4ZOF, delivero...","[(The Guanyin, 172)]","[2017-08-01T00:00:04.909498, 2017-09-01 01:00:...","([{'price': 4.71, 'title': 'default'}], [{'pri...","[delivery_3921, delivery_3922, delivery_3923, ...","[Kopi - Teh, Kopi Teh, Kopi and Teh, Kopi-Teh,...","[, Currently sold out, Default, Per serving.]",the guanyin,the guanyin,guanyin

In [112]:
%%time
# merge records based on name
tup = lambda g: tuple(g)
sort_tup= lambda g: sorted(f.flatten(g), key=lambda x:-x[-1])
unq = lambda g:  sorted(list(set(g)))
unq_enlist = lambda g:  sorted(list(set(f.flatten(g))))
fn = {"food_name":sort_tup, 
      "clean_name":unq, 
      "lemma_name":unq,
      "vendors":unq_enlist,  
      "loc":unq_enlist, 
      "timestamp":unq_enlist, 
      "price":tup,
      "tag":unq_enlist, 
      "desc":unq_enlist,
      "index":tup
     }
df2 = df.groupby("assigned_name").agg(fn)
df2.reset_index(inplace=True)

CPU times: user 33.8 s, sys: 204 ms, total: 34 s
Wall time: 33.9 s

** select useful columns **

In [113]:
df2.rename(columns={'clean_name': 'name_variants', 
                     'food_name':"menu_name",
                     'index':'identification_index'}, inplace=True)
cols = ['assigned_name', 'name_variants', 'menu_name',
        'tag', 'price', 'desc','vendors', 'identification_index', 'loc','timestamp', 
        ]
df2 = df2[cols]

In [114]:
# get proper price
def eval_price(price):
    return [float(i) for i in re.findall("\d+\.\d+", str(price))]
df2["price"] = df2["price"].apply(eval_price)
def avg_price(lst):
    import numpy as np
    return round(np.mean(lst),2)
df2["price_average"] = df2["price"].apply(avg_price)

** set index and save file**

In [116]:
df2.reset_index(inplace=True)
df2["index"] = "food_item_" + df2["index"].apply(str)
df2.set_index("index", inplace=True)

In [117]:
print df2.shape
print df2.columns.tolist()
df2.sample(2,random_state=2008*2)

(105218, 11)
['assigned_name', 'name_variants', 'menu_name', 'tag', 'price', 'desc', 'vendors', 'identification_index', 'loc', 'timestamp', 'price_average']

,assigned_name,name_variants,menu_name,tag,price,desc,vendors,identification_index,loc,timestamp,price_average
index,,,,,,,,,,,
food_item_34634,fry fish head black bean,[fried fish head with black bean sauce],"[(Fried Fish Head with Black Bean Sauce (), 8)]",[Fish Head ()],"[28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0]",[],[delivery_6655],"(food_45135,)","[deliveroo/food/AV07G5kIcSlXBuMN2mzP, delivero...","[2017-07-13T14:37:04.824439, 2017-08-01T00:00:...",28.00
food_item_13687,calamari squid ink mayonnaise,"[calamari with homemade squid ink mayonnaise, ...","[(Calamari with Homemade Squid Ink Mayonnaise,...","[Kickstarters, Kickstarters ]","[25.68, 25.68, 25.68, 25.68, 25.68, 25.68, 25....",[],[delivery_1367],"(food_17016, food_17017)","[deliveroo/food/107274, deliveroo/food/AV068-w...","[2017-07-03T17:55:01.668428, 2017-07-13T14:37:...",25.68

In [118]:
# ## save to json
# file_name = "__".join(["food_entities", f.today()]) + ".json"
# df2.to_json(file_name, orient='index')
# print "saved: %s"%file_name

saved: food_entities__20180317.json

In [119]:
## save to p file
file_name = "__".join(["food_entities", f.today()]) + ".p"
f.save_file(df2, file_name)

saved: food_entities__20180317.p

In [121]:
# file_name = "food_items_"+f.today()+".csv"
# df2["assigned_name"].to_csv(file_name, index=False, header=None)
# print "saved: %s"%file_name

saved: food_items_20180317.csv

** public version **

In [122]:
public_cols = ['assigned_name', 'name_variants', 'price_average']
## save to json
file_name = "__".join(["public_food_entities", f.today()]) + ".json"
df2[public_cols].to_json(file_name, orient='index')
print "saved: %s"%file_name

saved: public_food_entities__20180317.json