In [1]:
%load_ext autoreload
%autoreload 2
import myfunctions as f
f.today()

'20180321'

In [2]:
# python version
import sys
print "system_info: %s"%sys.version
# current working directory
import os
print "path_info: %s"%os.getcwd()

system_info: 2.7.14 |Anaconda custom (64-bit)| (default, Oct 27 2017, 18:21:12)
[GCC 7.2.0]
path_info: /home/yueliu/Desktop/workspace_yue/Documentation_201712

In [3]:
file_name = "food_entities__20180321.p"
df = f.retrive_file(file_name)
# index - assigned name ref
ref_assigned_index = df.to_dict()["assigned_name"]
# menu_name - index ref
ref_menu_index = df.to_dict()["menu_name"]
rev_menu_index = dict()
for k, vals in ref_menu_index.items():
    for val in vals:
        rev_menu_index.update({val[0]:k})

retrived: food_entities__20180321.p

** positive cases **

In [31]:
file_name = "002_entity matching_food_test_case_positive_20180321.csv"
import pandas as pd
tests = pd.read_csv(file_name)

# get index
tests["index_0"] = tests["food_0"].apply(lambda s: rev_menu_index[s])
tests["index_1"] = tests["food_1"].apply(lambda s: rev_menu_index[s])
# add food name
tests["index_0_name"] = tests["index_0"].apply(lambda s: ref_assigned_index[s])
tests["index_1_name"] = tests["index_1"].apply(lambda s: ref_assigned_index[s])
# compare index
tests["test_results"] = tests.apply(lambda l: l["index_0"] == l["index_1"], axis=1)

file_name = "002_entity_matching_test_case_"+f.today()+".csv"
tests.to_csv(file_name, index=False)
print "saved: %s"%file_name

from __future__ import division
round(tests["test_results"].sum() / tests["test_results"].shape[0],5)

saved: 002_entity_matching_test_case_20180321.csv

0.73604

In [20]:
tests.sample(2, random_state=2008)

,food_0,food_1,IS_SAME,index_0,index_1,test_results,index_0_name,index_1_name
18032,S6995 Black Sesame Glutinous \nDumpling in Gin...,s6995 Black Sesame Glutinous Dumpling in Ginge...,1,food_item_8815,food_item_8814,False,black sesame glutinous dumpl ginger soup,black sesame glutinous ball ginger soup hot
120035,1056. Kadai Chicken,N06 Kadai Chicken,1,food_item_48939,food_item_48939,True,kadai chicken,kadai chicken

In [20]:
tests.sample(2, random_state=2008)

,food_0,food_1,IS_SAME,index_0,index_1,test_results,index_0_name,index_1_name
18032,S6995 Black Sesame Glutinous \nDumpling in Gin...,s6995 Black Sesame Glutinous Dumpling in Ginge...,1,food_item_8815,food_item_8814,False,black sesame glutinous dumpl ginger soup,black sesame glutinous ball ginger soup hot
120035,1056. Kadai Chicken,N06 Kadai Chicken,1,food_item_48939,food_item_48939,True,kadai chicken,kadai chicken

In [33]:
print tests[tests["test_results"]!=tests["IS_SAME"]].shape[0]

72569

In [32]:
tests[tests["test_results"]!=tests["IS_SAME"]].sample(20, random_state=2008)

,food_0,food_1,IS_SAME,index_0,index_1,index_0_name,index_1_name,test_results
156623,104 Pandan Chicken,Deep-fried Pandan Chicken,1,food_item_66955,food_item_33385,pandan chicken,fried pandan chicken,False
125706,Kothu Prata (Chicken),Kottu Prata,1,food_item_18407,food_item_51556,chicken kotthu prata,kottu prata,False
120044,1116. Kadai Chicken,Kadahi Chicken,1,food_item_48939,food_item_48924,kadai chicken,kadahi chicken,False
186962,BA03 Roasted Duck (Half),Roast Duck (Whole Pizza - 12 Inches),1,food_item_77139,food_item_76786,roasted duck,roast duck pizza,False
190271,97 Salad Prawn,Salad Prawn (De-Shelled),1,food_item_78522,food_item_78525,salad prawn,salad prawn de shell,False
262158,(Veg) Vegetable Omelette,Vegetable Omelette (Cha Om),1,food_item_100092,food_item_95732,veg vegetable omelette,thai vegetable omelette cha om,False
259312,008 Truffle Fries,Truffle Fries (Vegetarian),1,food_item_98311,food_item_98325,truffle fry,truffle fry vegetarian,False
138182,Mee Goreng ...,U11. Mee Goreng (Large),1,food_item_58091,food_item_5893,mee goreng,bee hoon goreng,False
77706,403. Dumpling Soup,Dumpling Soup (5 pcs),1,food_item_28065,food_item_28856,dk dumpl soup,dumpl soup,False
158787,Saveur's Pasta (Main Size),W5. Pasta,1,food_item_81766,food_item_67808,saveur pasta main,pasta,False
71459,58 Curry Fish Head,Curry Fish Head (1/2 Head),1,food_item_26564,food_item_26565,curry fish head,curry fish head head,False
170936,35. Pork Ribs,BBQ Pork Ribs (St Louis Style),1,food_item_71966,food_item_72014,pork rib,pork rib louis,False
49236,Chicken Seekh Kebab (6 pcs),Chicken Sheekh Kebabs,1,food_item_19125,food_item_19150,chicken seekh kebab,chicken sheekh kebab,False
44980,Chicken Karaage (4pcs),Chicken Karage (5pcs),1,food_item_18289,food_item_18309,chicken karaage,chicken karage,False
194777,E6. Salted Egg Prawn,Salted Egg Prawn (Spicy),1,food_item_79419,food_item_79435,salt egg prawn,salt egg prawn spicy,False
109014,Chargrilled Chicken Chop,W41 Grilled Chicken Chop,1,food_item_15623,food_item_40263,char grill chicken chop,grill chicken chop,False
182725,324. Rice,Rice (single serving),1,food_item_76059,food_item_76266,rice,rice serving,False
32149,Crisp-fried Cereal Prawns,SF2. Cereal Prawn,1,food_item_24937,food_item_15172,crisp fry cereal prawn,cereal prawn,False
194251,B10 Salted Egg (Wet/Dry) Prawn,P032- Salted Egg Prawn (Small),1,food_item_79484,food_item_79419,salt egg wet prawn,salt egg prawn,False
210394,Sauted Venison with Black Pepper Sauce,Sauteed Venison with Black Pepper Sauce,1,food_item_81311,food_item_81697,saute venison black pepper,sauteed venison black pepper,False

** negative cases **

In [29]:
file_name = "002_entity matching_food_test_case_20180316.csv"
import pandas as pd
tests = pd.read_csv(file_name)

# get index
tests["index_0"] = tests["food_0"].apply(lambda s: rev_menu_index[s])
tests["index_1"] = tests["food_1"].apply(lambda s: rev_menu_index[s])
# add food name
tests["index_0_name"] = tests["index_0"].apply(lambda s: ref_assigned_index[s])
tests["index_1_name"] = tests["index_1"].apply(lambda s: ref_assigned_index[s])
# compare index
tests["test_results"] = tests.apply(lambda l: l["index_0"] == l["index_1"], axis=1)

file_name = "002_entity_matching_test_case_nagative_"+f.today()+".csv"
tests.to_csv(file_name, index=False)
print "saved: %s"%file_name

from __future__ import division
round(1 - tests["test_results"].sum() / tests["test_results"].shape[0],5)

saved: 002_entity_matching_test_case_nagative_20180321.csv

0.9998

In [30]:
tests[tests["test_results"]!=tests["IS_SAME"]]

,food_0,food_1,sim_score,IS_SAME,index_0,index_1,index_0_name,index_1_name,test_results
7180,Mashed,Meals,-0.063765,0,food_item_0,food_item_0,,,True
7181,Mashed,Meals,-0.063765,0,food_item_0,food_item_0,,,True